<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="content-profile">
        <h1>Ugh Oh - Some Error Occurred</h1>
        <p><%= errorMessage %></p>
        </div>
        <a href="/login" class="try-again">Try Again</a>
    </div>
</body>
</html>
